* {
  margin: 0;
}

h2 {
  font-size: 60px;
  padding-bottom: 20px;
}

h3 {
  font-size: 24px;
  padding-inline-start: 10px;
}

p {
  padding-inline-start: 10px;
  font-size: 20px;
}

body {
  margin-inline: 10px;
}
.overblik {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fill, minmax(150px, 340px));
  gap: 10px;
}

.produkter {
  border: solid lightgrey;
}

img {
  width: 100%;
  object-fit: cover;
}

.prisnu {
  color: red;
  font-size: 20px;
}

.prisfor {
  font-size: 15px;
  text-decoration-line: line-through;
}

.produktbillede_solgt img {
  opacity: 60%;
}

.udsolgt {
  position: absolute;
  opacity: 100;
  z-index: 10;
  color: white;
  padding: 10px;
  margin-right: 200px;
  background-color: lightgrey;
  font-size: 30px;
}
