* {
  margin: 0;
}

header ul {
  display: flex;
  margin-top: 10px;
  flex-flow: wrap;
  list-style: none;
  margin-inline: 30px;
  padding: 0;
  justify-content: end;
  gap: 0px;
}

header a {
  font-size: 25px;
  color: black;
  padding-left: 100px;
  padding-bottom: 2px;
  text-decoration: none;
}

h2 {
  font-size: 60px;
  padding-bottom: 20px;
}

.produkter h3 {
  font-size: 24px;
  padding-inline-start: 10px;
}

.produkter p {
  padding-inline-start: 10px;
  font-size: 20px;
}

body {
  margin-inline: 10px;
}
.overblik {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fill, minmax(150px, 340px));
  gap: 10px;
}

.produkter {
  border: solid lightgrey;
}

img {
  width: 100%;
  object-fit: cover;
}

.prisnu {
  color: red;
  font-size: 20px;
}

.prisfor {
  font-size: 15px;
  text-decoration-line: line-through;
}

.produktbillede_solgt img {
  opacity: 60%;
}

.udsolgt {
  position: absolute;
  opacity: 100;
  z-index: 10;
  color: white;
  padding: 10px;
  margin-right: 200px;
  background-color: lightgrey;
  font-size: 30px;
}

.grid_info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid_info img {
  width: 70%;
  margin-top: 20px;
}

.overview h2 {
  font-size: 35px;
}

.kurv {
  margin: 100px 100px 200px 100px;
  background-color: #f7f7f7;
  padding: 30px;
}

button {
  background-color: black;
  color: white;
  padding: 2% 32% 2% 32%;
  border: none;
}

/*kategori*/

.kategoriliste {
  column-count: 2;
  padding-top: 50px;
  text-align: center;
}

.kategoriliste a {
  font-size: 40px;
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

form,
button {
  margin-top: 20px;
  font-size: 20px;
}

.kurv p {
  font-size: 20px;
}

.kurv h3 {
  font-size: 30px;
  padding-top: 40px;
}

dd {
  font-size: 20px;
}

dt {
  font-size: 25px;
  padding-bottom: 10px;
}

.tilbage {
  font-size: 25px;
  background-color: #f7f7f7;
  padding: 10px 30px 10px 30px;
  border: black solid;
  color: black;
  text-decoration: none;
}
